:root {
    --primary-navy: #002855;
    --white: #ffffff;
}

.navbar-custom {
    background-color: var(--primary-navy);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: var(--white);
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
    color: #d9e8ff;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}
body {
    background-color: #f8f9fa;
    padding-top: 70px; /* adjust depending on navbar height */
}
.navbar-logo {
    height: 48px;   /* increase or decrease here */
    width: auto;
}

.card-header-custom {
    background-color: #002855;
    color: white;
    font-weight: 600;
}

.vehicle-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.booking-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.job-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.section-title {
    color: #0b1f3a;
    font-weight: 700;
    border-left: 5px solid #0b1f3a;
    padding-left: 12px;
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}