:root {
    --primary-navy: #002855;
    --white: #ffffff;
}

.navbar-custom {
    background-color: var(--primary-navy);
}

.navbar-custom .navbar-brand,
.navbar-custom .nav-link {
    color: var(--white);
}

.navbar-custom .nav-link:hover,
.navbar-custom .nav-link.active {
    color: #d9e8ff;
}

.navbar-custom .navbar-brand {
    font-weight: 600;
}
body {
    background-color: #f8f9fa;
    padding-top: 70px; /* adjust depending on navbar height */
}
.navbar-logo {
    height: 48px;   /* increase or decrease here */
    width: auto;
}

.card-header-custom {
    background-color: #002855;
    color: white;
    font-weight: 600;
}

.vehicle-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.booking-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.job-card {
    border: none;
    border-radius: 10px;
    overflow: hidden;
}

.section-title {
    color: #0b1f3a;
    font-weight: 700;
    border-left: 5px solid #0b1f3a;
    padding-left: 12px;
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

/* index image switching animations-don't touch - evan*/
.carousel-fade .carousel-item {
    opacity: 0;
    transition: opacity 0.4s ease-in-out !important; 
}

.carousel-fade .carousel-item.active {
    opacity: 1;
}

.carousel-item img {
    transform: scale(1);
    transition: transform 2s ease; 
}

.carousel-item.active img {
    transform: scale(1.05);
}







.job-card {
    border: none;
    border-radius: 12px;
}

.job-table {
    width: 100%;
    font-size: 1rem;
}

.job-table thead {
    background-color: var(--primary-navy);
    color: white;
}

.job-table th {
    padding: 16px;
    font-weight: 600;
    border: none;
}

.job-table td {
    padding: 16px;
    vertical-align: middle;
}

.job-table tbody tr {
    transition: 0.2s;
}

.job-table tbody tr:hover {
    background-color: #f3f7fc;
}

.status-badge {
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 0.85rem;
    font-weight: 600;
}

.status-Pending {
    background: #fff3cd;
    color: #856404;
}

.status-Accepted {
    background: #d4edda;
    color: #155724;
}

.status-Completed {
    background: #cce5ff;
    color: #004085;
}

.status-Cancelled {
    background: #f8d7da;
    color: #721c24;
}
